* {
	margin: 0;	
	padding: 0;	
}

body {
       background-color:floralwhite; 
                                 
}

.wrap {
	height: auto;
	margin: 0 auto;
	position: relative;
	top: 70px;
	width: 60%;;

}
.google {
      margin-left: 520px;
      margin-top: 40px;
      margin-bottom: 0;
}

.main {
      width: 93%;
      margin: 0 auto;
      margin-top: -30px;
}

.wrap img {
	width: 150px;
	height: 60px;

}

.searchInput {
	width: 50%;
	height: 20px;
	position: relative;
	top: -20px;
	font-size: 16px;
	margin: 0 10px;
	padding: 10px;

}

.searchButton {
	width: 80px;
	height: 45px;
	position: relative;
	border: 0;
	background-color: #1f71ff;
	color: white;
	font-size: 19px;
	border-radius: 6px;
	top: -22px;

}

.content img {
	width: 160px;
	height: 126px;
	margin: 15px;
	border-radius: 5px;
	border: 1px solid #8b9ebb;

}

.content {
       border-radius: 6px;
       background: rgb(244, 246, 246);
       margin: 0 auto;
       width: 90%;
}


.first {
	display: inline-block;
}

.first p {
	font-family: Arial, sans-serif;
	font-size: 24px;
	padding: 0 25px;
	color: #464639;

}


